ul.tab-list {
  list-style-type: none;
  padding-left: 0;
}

/*маркированный список */
ul.bullet-list  {
  list-style-type: disc; /* Маркер для первого уровня */
  padding-left: 2rem; /* Левый отступ для первого уровня */
}

ul.bullet-list  ul {
  list-style-type: circle; /* Маркер для второго уровня */
  padding-left: 2rem; /* Левый отступ для второго уровня */
}

ul.bullet-list  ul ul {
  list-style-type: square; /* Маркер для третьего уровня */
  padding-left: 2rem; /* Левый отступ для третьего уровня */
}

ul.bullet-list  ul ul ul {
  list-style-type: decimal; /* Маркер для четвертого уровня */
  padding-left: 2rem; /* Левый отступ для четвертого уровня */
}


/* нумерованный список*/
ol.numbered-list {
  counter-reset: item;
  list-style-type: none;
  padding-left: 10px;
}

ol.numbered-list > li {
  counter-increment: item;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  font-size: 16px;
}

ol.numbered-list > li::before {
  content: counters(item, ".") ". ";
  font-weight: bold;
  margin-right: 5px;
}

/* Стили для второго уровня списка */
ol.numbered-list ol {
  counter-reset: item;
  padding-left: 20px;
}

ol.numbered-list ol > li {
  counter-increment: item;
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
  font-size: 14px;
}

ol.numbered-list ol > li::before {
  content: counters(item, ".") " ";
  font-weight: normal;
  margin-right: 5px;
}

/* Стили для третьего уровня списка */
ol.numbered-list ol ol {
  counter-reset: item;
  padding-left: 40px;
}

ol.numbered-list ol ol > li {
  counter-increment: item;
  display: flex;
  align-items: flex-start;
  margin-bottom: 6px;
  font-size: 12px;
}

ol.numbered-list ol ol > li::before {
  content: counters(item, ".") " ";
  font-weight: normal;
  margin-right: 5px;
}



/* навигационное меню */
.nav ul {
  list-style-type: none; /* Убирает маркеры списка */
  padding-left: 1rem; /* Убирает отступы слева */

}

.nav-item {
  margin: 0.25rem 0;
  line-height: 1;
}

.nav-item-1 {
  font-size: 1.2rem;
  font-weight: 700;
}

.nav-item-2 {
  font-size: 1rem;
  font-weight: 500;
}

.nav-item-3 {
  font-size: 0.9rem;
  font-weight: 300;
  font-style: italic;
}

/* Стили для ссылок */
.nav-link {
  padding: 0.25rem 0.5rem;
  margin: 0;
  border-radius: 0.25rem;
}

/* Стили для наведенных ссылок */
.nav-link:hover {
  background-color: #e9ecef;
}

/* Стили для активных ссылок */
.nav-link.active {
  background-color: #007bff;
  color: white;
}

/* Стили для выпадающего меню */
#navbar {
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
}