@import url(list.css);

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    background-color: #f8f9fa;
}

/* main {

} */

footer {
    background-color: #f8f9fa;
    color: white;
    text-align: center;
    padding: 10px;

    height: 60px;
}

#navbar {
    background-color: #f8f9fa;
    color: white;
    display: flex;
    max-width: 350px;
    justify-content: space-between;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #343a40;
}

p {
    margin: 0.5rem 0px;
    text-indent: 2rem;
}

p.right-style {
    text-align: right;
}

p.center-style {
    text-align: center;
}

p.left-style {
    text-align: left;
}

p.justify-style {
    text-align: justify;
}

.note {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}


.container {
    margin-top: 20px;
}

.btn-custom {
    background-color: #007bff;
    color: white;
}

.btn-custom:hover {
    background-color: #0056b3;
}

.card {
    margin-bottom: 20px;
}
